/* body {
  background-color: white;
}

h1 {
  color: silver;
}

p{
  color: rgb(129, 100, 100);
} */

*{
  font-family: sans-serif;
}

/* html,body{

  margin:0%;
  box-sizing:border-box;
  overflow-x:hidden;
} */


.heroine-image{
  height:50vh;
  background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("../images/50-Beautiful-and-Minimalist-Presentation-Backgrounds-03.jpg");
  background-position: 10% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav{
  display: flex;
  justify-content: space-evenly;
  margin: .5rem;
}

/* Style the links inside the navigation bar */
.navigation-bar a{
  color: black;
  font-size: 17px;
  text-decoration: none;
  padding: 1rem;

}

/* Change the color of links on hover */
.navigation-bar a:hover{
  border: 3px solid black;
  margin: -3px;
  border-radius: 1rem;
}

/* Add a color to the active/current link */
.navigation-bar a.active {
  border: 3px solid black;
  margin: -3px;
  border-radius: 1rem;
}

.navigation-menu-icon{
  display: none;
  float: right;

}
.home-menu-icon{
  float: left;

}

/* window is less than 750px */
@media only screen and (max-width: 750px) {
  .navigation-bar{
    display:none;

  }
  .navigation-menu-icon{
    display:block;
    
}
}






















.dropdown {
  position: relative; 
  display: inline-block;
}


.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  position:absolute;
  min-width: 150px;
  right: 0;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 12px 16px;
}

.show {
  display: block;
}